{% extends "blogpage\layout\base.html" %}
{% load static %}

{% block title %}
Добавление ответа
{% endblock title %}

{% block nav %}
<div class="classname-div">
    <p class="cls-name" align="center">{{clsName}}</p>
</div>

<a href='{% url "classpage_articles_preview" URLcodenumber=codenumber %}'>
    <button class="btn-to-page">Перейти к ответам</button>
</a>
{% endblock nav %}

{% block content %}
<form method="post" class="model-form" enctype="multipart/form-data">
    {% csrf_token %}

    {{form.headline}}
    {{form.text}}
    <input type='file' multiple id="id_file" name="file_upload" hidden>

    <label for="id_file" id="lbl-add-image"> Добавить файлы </label>

    <button class="model-form-submit" type="submit">
        Добавить публикацию
    </button>
</form>

<script src="{% static 'js\article_create\main.js' %}"></script>
{% endblock content %}